:root {
  --main-color: #c4e0fd;
  --text-color: black;
  --base-size: 1rem;
  --scale: 1.333;

  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: calc(var(--base-size));
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

a:visited,
a:active,
a:hover,
a:link {
  text-decoration: none;
  color: black;
}

body {
  background-color: var(--main-color);
}

.section-home-text {
  padding: 0 12px;
}

.section-home-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.section-home-img img {
  width: 400px;
}

@media screen and (min-width: 600px) {
  .section-home-img img {
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .section-home-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
  }

  .section-home-img {
    display: flex;
    justify-content: end;
    flex: 0 0 auto;
    width: 50%;
  }

  .section-home-img img {
    width: 450px;
  }
}

.section-character {
  background-color: white;
  padding-top: 30px;
}

.section-character .container h2 {
  padding-bottom: 20px;
}

.section-character-img {
  display: flex;
  justify-content: center;
  order: 3;
  padding: 0 12px;
  margin-bottom: 30px;
}

.section-character-img img {
  height: 340px;
  width: 210px;
}

.section-character-text {
  padding-top: 10px;
}

.section-character-text h3 {
  padding-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .section-character {
    margin: 20px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 992px) {
  .section-character {
    margin: 40px;
  }

  .section-character .container h2 {
    padding-bottom: 40px;
  }

  .section-character-img {
    width: 30%;
    order: 0;
    margin-bottom: 20px;
  }

  .section-character-text {
    width: 60%;
  }

  .right-row {
    display: flex;
    justify-content: end;
  }

  .right-img {
    order: 3;
  }

  .right-text {
    text-align: end;
  }
}

.section-pokemons-div {
  padding-top: 80px;
}

.section-pokemons-input > input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.section-pokemons-input div button {
  padding: 7px;
  border: none;
  border-radius: 50%;
  background-color: rgb(87, 70, 236);
  margin-left: 7px;
}

.historia {
  display: flex;
  flex-direction: column;
}

.historia p {
  text-align: justify;
  width: 100%;
}

.historia h2,
h3,
h4 {
  text-align: left;
  margin-bottom: 1rem;
}
.historia img {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  margin-top: 7rem;
}

#historia__first__img {
  margin-top: 0;
}

.menu_lateral {
  margin-bottom: 2rem;
}

.jogos p {
  width: 100%;
  text-align: justify;
}

.jogos img {
  display: block;
  margin: auto;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.jogos h3 {
  margin-top: 4rem;
}

#gameBoy {
  margin-top: 0;
}

.top img {
  display: block;
  position: fixed;
  width: 40px;
  top: 90%;
  right: 0%;
}
